@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300;400;500&display=swap');

:root {
    /* dinh nghia 1 bien*/
    --main-color: #443;
    --border-radius: 0.5rem;
    --border: .1rem solid var(--main-color);
    --border-active: .1rem solid #858181;
    --logo-color-: black;
    --color-shadow-: #bdb6b6;
    --nav-a-hover-: #d6cdcd;
    --white-color-: #fff;
    --body-color-: #f3f4f8;
    --background-color: #03091f;
    --background-dark: #0b1126;
    --navbar-color-beforeHover: #fff;
    --text-color-hover: #ff8abd;
    --text-color-dark: #333;
}

div.preview-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.preview-images>img {
    width: 20%;
    padding: 0.5rem;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;

}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}


.container-body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: var(--background-color);
    font-size: 1.6rem;
    line-height: 1.8;
    text-rendering: optimizeSpeed;

}

/*
header
*/
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.8rem;
    display: flex;
    justify-content: space-between;
    transition: background-color color 0.5s ease-in-out;
}

.scrolled {
    background-color: #d7dfef;
}

.scrolled a {
    color: var(--background-dark) !important;
}

.scrolled a:hover {
    color: #b01010 !important;
}

header a:hover {
    text-decoration: none;
    color: #b01010 !important;
}

header .logo {
    height: 100%;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo a {
    height: 70%;
    color: var(--main-color);
    font-weight: 500;
}

header .logo img {

    height: 100%;
}

header .nav {
    z-index: 1000;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .nav ul {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

header .nav ul li {
    list-style-type: none;
}

header .nav ul li a {
    font-size: 2rem;
    font-weight: 500;
    color: var(--navbar-color-beforeHover);
    display: block;
    padding: 1rem 2rem;
}

header .nav ul li a:hover {
    /* background-color: var(--nav-a-hover-); */
    border-radius: var(--border-radius);
}

header #menu-btn {
    color: var(--navbar-color-beforeHover);
    margin-right: 3rem;
    display: none;
    font-size: 3rem;
    margin: auto 2rem;
}

.container-main {
    min-height: 93vh;
}

.container-header {
    color: var(--navbar-color-beforeHover);
    background-image: url(../image/Mintbackground1.jpg);
    position: relative;
    z-index: 1;
    height: 40rem;
    background-size: cover;
}

.container_header-header {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(90deg, rgba(72, 52, 212, 0.5), rgba(52, 31, 151, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header-content {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}


.header-content h2 {
    margin-bottom: 1.5rem;
}

.header-content ul {
    margin-bottom: 1.5rem;
    display: flex;
}

.header-content ul a {
    padding: 0 1rem;
    display: block;
    color: var(--navbar-color-beforeHover);
}

.header-content ul a:hover {
    color: var(--text-color-hover);
}

.header-container-content {
    margin-top: 5rem;
    text-align: center;
    color: var(--main-color);
}

.header-container-content h1 {
    font-size: 3rem;
}

.header-container-content p {
    font-size: 1.4rem;
    margin-bottom: 0;
}

/* .group-input-item:first-child{
} */
.gradient-text {
    margin-top: 4rem;
    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.group-input-item input {
    outline: none;
    border: var(--border);
    width: 100%;
    height: 5rem;
    padding-left: 1.2rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
}

.group-input-item span {
    position: relative;
}

.group-input-item .check-value {
    display: none;
    text-align: center;
    top: -0.5rem;
    right: 0;
    padding: 0.5rem;
    background-color: #e34f4f;
    position: absolute;
    border-radius: var(--border-radius);
}

span.check-value-ria {
    display: none;
    width: 0.5rem;
    position: absolute;
    top: 30%;
    right: 10%;
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
    border-top: 0.7rem solid #e34f4f;
}

.group-input-item .notice::after {
    display: none;
    content: " ";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0;
    height: 0;
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
    border-top: 0.7rem solid var(--main-color);
}

.group-input-item span .notice {
    display: none;
    bottom: 110%;
    left: 0%;
    position: absolute;
    z-index: 1000;
    width: 20rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white-color-);
}

.form-collection .group-input-item #image-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-collection .group-input-item #image-container img {
    width: 20%;
    padding: 0.5rem;
}

.group-input-item span:hover .notice,
.group-input-item .notice::after {
    display: block;
}

.button-add-some-decription {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.button-add-some-decription:hover {
    color: #e9431d;
}

.btn-submit {
    display: flex;
    justify-content: center;
    width: 20rem;
    border: var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: rgba(66, 231, 101, 0.8);
}

/*footer*/
.footer {
    background-color: #020a27;
    height: 5.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h6 {
    text-align: center;
    font-size: 1.8rem;
    color: #ccc;
    font-weight: normal;
}

@media (max-width:992px) {

    .scrolled {
        background-color: #d7dfef;
    }

    .scrolled a {
        color: var(--background-dark) !important;
    }

    .scrolled a:hover {
        color: #b01010 !important;
    }

    .scrolled #menu-btn {
        color: var(--text-color-dark);
    }

    header a:hover {
        text-decoration: none;
        color: #b01010 !important;
    }

    header .logo {
        padding: 0 2rem;
    }

    header .logo a {
        font-size: 2.2rem;

    }

    header .nav ul li a {
        color: var(--navbar-color-beforeHover);
        font-size: 1.6rem;
    }

    header .active ul li a {
        color: var(--text-color-dark) !important;
        font-size: 1.6rem;
    }
}

@media(max-width:768px) {
    .scrolled {
        background-color: #d7dfef;
    }

    .scrolled a {
        color: var(--background-dark) !important;
    }

    .scrolled a:hover {
        color: #b01010 !important;
    }

    header a:hover {
        text-decoration: none;
        color: #b01010 !important;
    }

    header {
        position: relative;
    }

    header .nav {
        width: 100%;
        position: absolute;
        flex-direction: column;
        top: 80%;
        margin: 1.5rem 0rem;
        display: none;
        width: 30rem;
        background-color: var(--white-color-);
    }

    header .nav ul {
        display: flex;
        flex-direction: column;
    }

    header .nav ul li a {
        border-bottom: var(--border);
    }

    header .nav ul li a:last-child {
        border-bottom: none;
    }

    header .nav.active {
        display: block;
    }

    header #menu-btn {
        display: block;
    }

    .background-image .content h1 {
        font-size: 3rem;
    }
}

/* bo cung */
#mainform {
    width: 80%;
    margin: auto;
    padding: 10rem 0;
}

.content {
    color: var(--navbar-color-beforeHover);
    width: 100%;
}

.content .left-content {
    box-sizing: border-box;
}

.content .left-content .wrapper {
    border-radius: 20px;
    background: var(--background-dark);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.content .left-content .wrapper .background-left {
    position: relative;
    width: 100%;
}

.content .left-content .wrapper .background-left img {
    border-radius: 20px;
    width: 100%;
}

.content .left-content .wrapper .background-left .author-background {
    position: absolute;
    width: 4rem;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content .left-content .wrapper .background-left .author-background img {
    width: 100%;
    border-radius: 50%;
    border: 0.3rem solid #12c2e9;
}

.content .left-content .wrapper .about-author {
    margin: 2rem 0;
    text-align: center;
}

.content .left-content .wrapper .about-author h3 {
    font-size: 1.4rem;
    font-weight: normal;
}

.content .left-content .wrapper .about-author p {
    color: hsla(0, 0%, 100%, 0.5);
}

.content .left-content .wrapper .contact ul {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.content .left-content .wrapper .contact ul li {
    cursor: pointer;
    padding: 0 1rem;
}

.content .left-content .wrapper .contact ul li:hover {
    opacity: 0.8;
}

.content .main-content {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    background: var(--background-dark);
    padding: 0 2.5rem;
}

.group-input-file {
    text-align: center;
    padding: 3rem;
    border: 0.2rem dashed hsla(0, 0%, 100%, 0.2);
    border-radius: 2rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.group-input-file span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.group-input-item-checkbox label {
    margin-bottom: 0 !important;
}

.group-input-file .btn-input {
    font-weight: 500;
    font-size: 1.6rem;
    margin: 2rem auto;
    height: 5rem;
    border-radius: 1rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    cursor: pointer;
}

.group-input-file input {
    display: none;
}

.group-input-item-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.group-input-item button.btn {
    color: var(--navbar-color-beforeHover);
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0rem auto;
    height: 5rem;
    border-radius: 1rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    cursor: pointer;
}

.group-input-add-item {
    width: 16rem;
    height: 4rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.group-input-add-item button {
    color: var(--navbar-color-beforeHover);
    height: 100%;
    border-radius: 0.5rem;
    text-align: center;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.group-input-add-item button:hover {
    color: #bdb8c0;
}

.group-input-item-checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #bdb8c0;
}

.group-input-item-checkbox span {
    font-size: 1.2rem;
    display: block;
}

.group-input-item-checkbox input[type='radio'] {
    margin-left: 1rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    line-height: 1.5rem;
    background-color: #bdb8c0;
}

.group-input-item {
    width: 100%;
    margin: 1rem 0;
}

.group-input-item input {
    font-size: 1.2rem;
    font-style: italic;
    height: 5rem;
    color: var(--navbar-color-beforeHover);
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--background-dark);
    border-bottom: 0.1rem solid rgba(156, 150, 150, 0.2);
}

.group-input-item input:focus-within {
    border-bottom: 2px solid #0077ff;
}

.group-input-item span {
    font-size: 1.2rem;
}

.group-display-files {
    border-top: 0.2rem solid #0077ff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#image-container {
    width: 100%;
}

#targetimg {
    height: 100%;
    width: 20%;
    padding: 0.5rem;
}

#targetimg {
    width: 100%;
}