<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IPFS Pinning</title>
    <!-- Get bootstrap from CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <br>
                <h4>
                    Your files are deleted from our servers. But it's on IPFS and ready to mint!
                </h4>
                <div class=""></div>

            </div>
        </div>
        <hr>
    </div>
    <div id="mintcomponent">
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>This is where the print.js is supposed to be.</p>
        <!-- <script src=`${__dirname}/frontend/src/View/print.js`></script> -->
        <!-- <script src="amodule/print.js"></script> -->


        <script  type="module" src="/amodule/index.js"></script>
        <P>This is where it end</P>
    </div>

</body>

</html>