<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Multiple Pinning</title>

    <!-- Get bootstrap from CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        div.preview-images>img {
            width: 30%;
        }
    </style>


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <br>
                <h2>
                    Choose your files:
                    <h3>We currently only support choosing multiple files consecutively</h3>
                </h2>
                <div class=""></div>
                <form action="/multiple-upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="example-input-file"> </label>
                        <input type="file" name="many-files" multiple id="input-many-files"
                            class="form-control-file border" onclick="resetImage()">
                        <label for="Description">Files description:</label><br>
                        <input type="text" name="Description" id="Description" value="Type your description here ""></input>
                        <br>
                        <input type="radio" id="native" name="token" value="20" checked>
                        <label for="native">Native token</label><br>
                        <input type="radio" id="nft" name="token" value="721">
                        <label for="nft">Non-fungible token</label><br>
                        <br>
                        <label for="Amount"> Amount : </label>
                        <input type="number" name="Amount" maxlength="10" value="100" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <hr>
        <div>
            <p>This is where pictures are supposed to be</p>
            <p id="WalletList"></p>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="preview-images" id="targetimg"></div>
            </div>
        </div>
    </div>
    <p id="demo"></p>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            let imagesPreview = function (input, placeToInsertImagePreview) {
                if (input.files) {
                    let filesAmount = input.files.length;
                    for (i = 0; i < filesAmount; i++) {
                        let reader = new FileReader();
                        reader.onload = function (event) {
                            $($.parseHTML("<img>")).attr("src", event.target.result).appendTo(placeToInsertImagePreview);
                        }
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };

            $("#input-many-files").on("change", function () {
                imagesPreview(this, "div.preview-images");
            });
        });


        function resetImage() {
            document.getElementById("targetimg").innerHTML = "";
        }
    </script>
</body>

</html>