<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/src/Style/Css/style.css">
    <link rel="stylesheet" href="/frontend/src/Style/Font_icon/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>NFT Create</title>
</head>

<body>
    <div class="containers-body">
        <header id="header">
            <div class="logo">
                <a href="/frontend/src/View/index.html"><img src="/frontend/src/Style/image/logoNFTnew.jpg" alt=""></a>
            </div>
            <div class="nav">
                <ul class="navbar-menu">
                    <li><a href="/frontend/src/View/index.html">Home Page</a></li>
                    <li><a href="/frontend/src/View/upload.html">Mint</a></li>
                    <li><a href="./document.html">Document</a></li>
                    </li>
                </ul>
            </div>
            <div id="menu-btn" class="fas fa-bars"></div>
        </header>
        <div class="containers">

            <div class="containers-header">
                <div class="header">
                    <div class="header-content">
                        <h1 class="gradient-text">The Best Place to Collect Awesome NFTs</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet dolorem blanditiis ad
                            perferendis, labore delectus dolor adipisicing elit sit amet, adipisicing elit. Eveniet
                            adipisicing elit.
                        </p>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            /
                            <li>
                                <a href="/frontend/src/View/upload.html">Mint Page</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <footer class="footer">
            <h6>
                © 2023 Đúc tài sản cho riêng bạn trên Cardano
            </h6>
        </footer>

    </div>
    <script src="/frontend/src/Style/Js/script.js"></script>
</body>

</html>